<div class="form-signin w-100 m-auto mt-4 border border-2 rounded p-3">

  <form [formGroup]="loginFormGroup" >
    <div class="mb-5 text-center w-100">
      <img class=" w-50 h-50 img-fluid bg-transparent rounded" src="../../../../assets/imgs/movie-logo.png" alt="">
    </div>
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input formControlName='email' type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input formControlName="password" type="password" name="password" class="form-control" id="floatingInputfloatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>


    <button class="w-100 btn btn-lg btn-dark" (click)="login()" >Sign in</button>
    <div class="mt-5 mb-3 ">
      <span> Don't have account </span>
      <a class="register text-primary text-decoration-underline" routerLink="authentication/register" (click)='toRegister()'> register </a>
    </div>
  </form>

</div>