
<div class='p-5 mb-4'>
  <div class='row justify-content-between'>
    <div class="col-3">
      <h1>Movies List</h1>
    </div>
    <div class="col-3 ">
      <a class="btn btn-success" routerLink="/new">New Movie</a>
    </div>
  </div> 
</div>

<div class='row'>
<div class='col-3 justify-content-start px-5'>
  <select (change)='getMoviesByCategory($event)' class="form-select" aria-label="Default select example" #SelectedCategory>
    <option value="0" selected>All</option>
    <option *ngFor="let c of Categories;let j = index;" [value]='c?.id' id={{c?.id}}>{{c.name}}</option>
  </select>
</div>
</div>

<div class="row p-5  gy-3">
  <div class="col-lg-3 col-md-6 col-sm-12  " *ngFor="let item of MoviesArray;let i= index;">
    <div class="card" style="width: 18rem;">
      <img src={{imageUrl+item.image}} class="card-img-top img-fluid" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{item?.name}}</h5>
        <p class="card-text" *ngFor='let c of Categories;let j = index;'>
          {{item.category_id === c.id ? c.name : ''}}
        </p>
        <div class="d-flex justify-content-between">
          <button (click)="deleteMovle(item.id)" class="btn btn-danger">delete</button>
          <a class="btn btn-success" [routerLink]='["/edit/",item.id]' >update</a>
        </div>

      </div>
    </div>
  </div>
</div>