<div class="container p-5 my-4">
  <form [formGroup]="FormGroup" enctype="multipart/form-data" >
    <h2 class="text-center" *ngIf="isUpdate"> Update Movie </h2>
    <h2 class="text-center" *ngIf="!isUpdate"> New Movie </h2>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Movie Name</label>
      <input formControlName='name' type="text" class="form-control" id="exampleFormControlInput1" placeholder="Movie Name">
    </div>

    <div class="mb-3 row  align-items-center">
      <div class='col-1'>
        <img class=' update-image ' *ngIf="isUpdate" [src]='imageUrl + selectedMovie?.image' />
      </div>
      <div class='col-11 '>
       <label for="exampleFormControlInput1" class="form-label">Image</label>
       <input type="file" accept="image/*" class="form-control"  id="exampleFormControlInput1" #Image (change)="onFileChange($event)"  placeholder="">
     </div>
    </div>
  
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Description</label>
      <textarea formControlName='description' class="form-control" id="exampleFormControlTextarea1" rows="3" plceholder='Description'></textarea>
    </div>

    <div class="mb-3">
    <select formControlName="category_id"  class="form-select" aria-label="Default select example" #SelectedCategory>
      <option *ngFor="let c of Categories;let j = index;" [value]='c?.id' id={{c?.id}}>{{c.name}}</option>
    </select>
  </div>

  <button *ngIf="isUpdate" class='btn btn-success' (click)='updateMovie()'> update </button>
  <button *ngIf="!isUpdate" class='btn btn-success'  (click)='createMovie()'> create </button>

  </form>
</div>